# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [3]:
#imports dataset and assigns 'url' to point to dataset
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

#assigns url to vairable 'chipo'
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [4]:
#pulls first 10 entries of df
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [22]:
# Solution 1
#outputs basic information of dataset (including # of observations)
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
 5   revenue             4622 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.8+ KB

In [24]:
# Solution 2
#outputs # of items in the first column 
chipo.shape[0] #shape[] looks at the axi(x,y) like a graph

4622

### Step 6. What is the number of columns in the dataset?

In [7]:
#outputs # of items in the first row
chipo.shape[1] #(x,y) = (0,1) = (column,row)

5

### Step 7. Print the name of all the columns.

In [8]:
#outputs column names
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [9]:
#outputs range index of dataset 
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [10]:
#creates series 'mostOrdered' grouping by item_name, and assigning the sum of each item's appereance as it's value
mostOrdered = chipo.groupby('item_name').sum()

#sorts mostOrdered by quantity ordered in descending order
mostOrdered = mostOrdered.sort_values(['quantity'], ascending = False)

#outputs first item entry of mostOrdered, supposedly the most ordered item
mostOrdered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [11]:
#outputs first entry in mostOrdered series
mostOrdered.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [12]:
#creates series 'choice' grouping by choice_description, getting the sum of quantity ordered 
choice = chipo.groupby('choice_description').sum()

#sorts choice by quantity ordered in descending order
choice = choice.sort_values(['quantity'], ascending = False)

#outputs first item entry of choice, supposedly the most ordered item in choice_description
choice.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [13]:
#creates series 'totalItems' that sums the quantity column
totalItems = chipo.quantity.sum()

#outputs totalItems
totalItems

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [14]:
#checks data type of item_price column
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [15]:
#creates lamda function that changes data type to float
priceTypeChange = lambda x: float(x[1:-1])

#applies priceTypeChange to item_price
chipo.item_price = chipo.item_price.apply(priceTypeChange)

#### Step 13.c. Check the item price type

In [16]:
#checks data type of item_price column
chipo.item_price.dtype

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [17]:
#creates series 'rev' that multiplies quantity column with item_price and add it all together
rev = (chipo.quantity*chipo.item_price).sum()

#prints revenue for the period in the dataset
print('$', rev)

$ 39237.02

### Step 15. How many orders were made in the period?

In [18]:
#creates series 'ordersMade' that counts the number of order_id values
ordersMade = chipo.order_id.value_counts().count()

#outputs ordersMade, should be # of orders made during the period in the dataset
ordersMade

1834

### Step 16. What is the average revenue amount per order?

In [19]:
# Solution 1
#creates series 'avg' that divides rev by ordersMade
avg = rev / ordersMade

#outputs avg
print('$', avg)

$ 21.39423118865867

In [20]:
# Solution 2
#creates series 'revenue' that multiplies the quantity and item_price columns
chipo['revenue'] = chipo.quantity * chipo.item_price

#creates series 'orders' that adds the total number of orders in the order_id column
orders = chipo.groupby('order_id').sum()

#creates variable 'mean' that gets the average amount spent on each order 
mean = orders.mean()['revenue']

#prints mean
print('$', mean)

$ 21.394231188658654

### Step 17. How many different items are sold?

In [21]:
#groups item_name column by the different values, then counts and outputs # of values
chipo.item_name.value_counts().count()

50